QS_DEFAULT_DATA_SOURCE="yfinance"
QS_DATA_DB_PATH=""
QS_BINANCE_BASE_URL="https://api.binance.com"
QS_BINANCE_FALLBACK_BASE_URLS="https://api.binance.us"
QS_DEFAULT_SYMBOL="SPY"
QS_DEFAULT_INTERVAL="1d"
QS_ALLOW_FIXTURE_FALLBACK="false"
QS_TIMEZONE="UTC"
QS_WEB_API_KEY=""
QS_REPORT_DIR="./reports"
QS_API_HOST="127.0.0.1"
QS_API_PORT="8000"
QS_DEFAULT_CAPITAL="100000"
QS_DEFAULT_COMMISSION_RATE="0.0001"
QS_DEFAULT_SLIPPAGE="1"
QS_DEFAULT_LEVERAGE="1.0"
APCA_API_KEY_ID=""
APCA_API_SECRET_KEY=""
IBKR_HOST="127.0.0.1"
IBKR_PORT="7497"
IBKR_CLIENT_ID="1"
